---
export interface Props {
    title: string;
    tech: string[];

}
const {title, tech} = Astro.props;
---

  <div class="container">
    
        <div class="card">
            <div class="card-content transition ease-in-out">
                <h2>{title}</h2>
                <ul>{tech.map((t)=>(<li>{ t }</li>))}</ul>
            </div>
        </div>
  </div>

  <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;
        font-family: 'Onest Variable', sans-serif;
    }
    .card {
        background-color: rgba(7, 7, 7, 0.737);
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.768);
        overflow: hidden;
        width: calc(20% - 20px);
        min-width: 250px;
        transition: transform 0.3s ease;
        font-family: 'Onest Variable', sans-serif;
    }
    .card:hover {
        transform: translateY(-5px);
        font-family: 'Onest Variable', sans-serif;
        color:rgb(30, 29, 29);
    }
    .card-content {
        padding: 16px;
        font-family: 'Onest Variable', sans-serif;
        color:rgb(205, 200, 195);
    }
    .card-content h2 {
        margin-top: 0;
        margin-bottom: 10px;
        color:rgb(217 249 157);
        font-family: 'Onest Variable', sans-serif;
    }
    .card-content p {
        color: #666;
        line-height: 1.5;
        font-family: 'Onest Variable', sans-serif;
        color:rgb(205, 200, 195);
    }
</style>