---
import Layots from "../Layouts/Layots.astro"
import TechCards from "../Compounents/TechCards.astro"
import Cards from "../Compounents/Cards.astro"
import { getCollection } from "astro:content"
interface Tecitems{
	title:string;
	tech:string[];
}

interface proyectitems{

	slug: string;
	data:{

		titulo: string;
		shortDescripcion: string;
	}


}

const proyecto: proyectitems [] =await getCollection ("Proyectos")

const techItems: Tecitems []=[

{

title: "Bakend",
tech:["Java","C#","Python","Unity","Astro"]

},

{
	title: "Frontend",
	tech:["DeveExtreme","Unity","HTML","CSS","Astro"]
}

]
---

<Layots title="Sobre Mi Mi portafilio">

	<main class="container mx-auto px-4 py-8">

		<section class="mb-12">
            <h2 class="text-4xl font-bold mb-4">Sobre Mi</h2>
			<p>¡Hola! soy Jose Andrez Hernandez Garcia, estudiante de ingenieria en sistemas y este es mi portafolios. Me alegra que
				estes aqui, espero que sea de utilidad para saber mas de mi.
			</p>
        </section>

        <section class="mb-12">
            <h2 class="text-4xl font-bold mb-4">Mis tecnologias</h2>
			<div>
				{techItems.map((item)=>(
					<TechCards title= {item.title} tech= {item.tech}/>
				))
				}
			</div>
        </section>

		<section>
			<section class="mb-12">
				<h2 class="text-4xl font-bold mb-4">Mis Proyectos</h2>

		</section>

		<section>
			<div>

				{proyecto.map((p)=> <Cards 
					title={p.data.titulo}
					descripcion={p.data.shortDescripcion}
					link="https://github.com/JoseAndrezHernandez/Trabajos/blob/814d673d9eb7ee3187416480971b10f612bd47f8/Java%20trabajos/2Ejercicio4.txt"
			/>)}
				
			</div>
		</section>

		<section>
			<div>
				<Cards
				title="preguntas_cvs"
				descripcion="respondiendo preguntas claves de un cvs"
				link="CSV Cuaderno prueba (8).html"
				/>
			</div>
		</section>

		<section>
			<div>
				<Cards
				title="git_Data_bricks"
				descripcion="respondiendo preguntas claves de un cvs"
				link="https://github.com/JoseAndrezHernandez/Data-Scala.git"
				/>
			</div>
		</section>
		
		<section>
			<div>
				<Cards 
				title="gRPC_con Go"
				descripcion="Una pequeña base de datos que trata de agrega, recivir y conetar mediante streaming y que se puede ver atravez de postman. Gestionado con Microsft Azure en una base de datos en la nube."
				link="https://github.com/JoseAndrezHernandez/ProyectoGRPC.git"
				/>
			</div>
		</section>

		<section>
			<div>
				<Cards 
				title="Link de bd desplegada en Azure"
				descripcion="La base desplegada en la nuve mediante Azure"
				link="https://portal.azure.com/?Microsoft_Azure_Education_correlationId=c89da3dc-05ef-4784-9544-fb447c6d23b8&Microsoft_Azure_Education_newA4E=true&Microsoft_Azure_Education_asoSubGuid=ce206126-550b-43e8-9ff1-f3b77b5172a8#@unah.hn/resource/subscriptions/ce206126-550b-43e8-9ff1-f3b77b5172a8/resourceGroups/Proyectogrpc/providers/Microsoft.Sql/servers/warframeservers/overview"
				/>
			</div>
		</section>

		<section>
			<div>
				<Cards 
				title="Link del archivo proto"
				descripcion="Link del archivo proto para poder descargar el archivo"
				link="https://github.com/JoseAndrezHernandez/ProyectoGRPC/blob/main/Proyecto_gRPC/proto/Warframes.proto"
				/>
			</div>
		</section>

    </main>

</Layots>